{{ $item := .item }}
{{ $index := .index }}



<div class="row community-block-wrap">
  <div class="col-12 col-md-6 c-block-image " style="order: {{mod $index 2}}">
    <img  src="{{$item.content_image | relURL }}" />
  </div>

  <div class="col-12 col-md-6 c-block-text common-text-content-wrap ">
    <div class="c-title-image"><img  src="{{$item.title_image | relURL }}" /></div>
    <div class="c-title-text">{{$item.title | markdownify | emojify }}</div>
    <div class="c-content-text">{{$item.content | markdownify | emojify }}</div>
  </div>


</div>




